.button {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: #1e3a8a;
  color: #fff;
  font-family: Inter;
  font-size: 13.6px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.button:hover {
  background-color: #3b82f6;
}
