body {
  margin: 0;
  line-height: normal;
  font-family: var(--font-inter);
  background-color: var(--color-whitesmoke);
}

:root {
  --color-royalblue-200: #1d4ed8;
  --color-royalblue-100: #2563eb;
  --color-royalblue: #2563eb;
  --color-whitesmoke: #f9fafb;
  --color-slategray: #6b7280;
  --color-white: #fff;
  --color-darkslategray: #374151;
  --color-gainsboro: #e5e7eb;
  --color-lightgray: #ccc;

  --padding-11: 11px;
  --padding-15: 15px;

  --br-8: 8px;

  --font-inter: 'Inter', sans-serif;

  --font-size-16: 16px;
}
